body{
  width:100%;
  font-family: 'Roboto', sans-serif;
  background-color: #e4f6ff;
}

nav{
  background-color:rgb(2, 132, 130);
  width:100%;
}

nav a{  
  text-decoration:none;
  background-color:black  ;
  color:white;
  padding:35px;
  display:block;
  float:left;
}

a:hover{
  background-color: #ee5f3c;
}

h1{
	color:black;
}

h2{
	color:black;
}

h1, h2{
   text-align:center;
}

p{
  text-align:center;
}

.board{
	height:50%;
	width:50%;
  margin:0 auto ;
  }

.card{
	height:200px;
	width:150px;
	border: 2px solid white;
	background-color:#cc0000 ;
	border-radius:15px;
  float:left;
  display:inline-block;
  margin:8%;
}

.cardimg{
  height:200px;
  width:150px;
}

#button{
  padding:10px;
  background-color: white;
  color:black;
  font-family:'helvetica';
  font-size:15px;
  border:none;
  border:black 2px solid;
  margin-top:300px;
  margin-left:50px;
}

#button:hover{
  background-color: yellow;
}

footer{
  text-align:center;
  background-color:#e6e6e6;
  clear:both;
  padding:20px;
  color:black;
}

.name{
  color:black;
}

a{
  text-decoration:none;
  font-weight: light;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }